body {
    direction: rtl;
}


footer {
    background-color: darkslategray;
    margin: 0;
    padding: 15px;
    padding-right: 50px;
}

footer p {
       margin: 0;
    color: #fff;
}

footer p a{
    color: #fff;
}